@* @page "/test1/" *@
@page "/test1/{id:int}/{muid}"

@using General.Blazor.App.Models
@using DevExpress.Blazor

@inject ScopedDI ScopedDi
@inject ScopedDI ScopedDi1
@inject NavigationManager NM

<h2>TEST 1</h2>
<h3>@Id</h3>
<h3>@muid</h3>
<div>
  <input type="range" @bind-value="ScopedDi.Count"/>
  <input type="number" @bind-value="ScopedDi1.Count"/>
  <DxButton Click="@(() => NM.NavigateTo("/"))">Ana Sayfa</DxButton>
</div>

@code{

  [Parameter] public int Id { get; set; }

  [Parameter] public string? muid { get; set; }
  [Parameter] public int ActiveIndex { get; set; }

  public override async Task SetParametersAsync(ParameterView parameters)
  {
    await base.SetParametersAsync(parameters);
    var iddd = Id;
    ActiveIndex = int.Parse(muid.Substring(muid.LastIndexOf("-") + 1));
    var idd = muid.Substring(0, muid.LastIndexOf("-"));
    var index = ActiveIndex;
  }

  protected override void OnInitialized()
  {
    var idd = Id;
    var guidd = muid;
  }

}
